.Form {
  .field {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin: 0.5rem 0;
    flex-wrap: wrap;

    &.TextArea {
      align-items: start;
    }

    label {
      flex: 0 0 5rem;
      display: inline-block;
    }

    input {
      flex: 0;

      &[type='color'],
      &[type='file'] {
        flex: unset;
      }
    }

    .help {
      color: #999;
    }
  }

  .submit {
    text-align: right;
  }
}
