
.pnpm-store
**/.DS_Store
**/*.map
boxproject.sql
dist/*.css
dist/*.js
dist/*.LICENSE.txt
!dist/vendor/
node_modules
textures/out/
textures/x
render/costumes/*
.env
.env*
!.env.example
.build
**/report.html
dist/bakes
dist/music/unclean
cryptovoxels.sql
server/bundle_server.js
.vscode/launch.json
dist/stats.json
dist/*.js.gz
dist/*.js.br
dist/*.css.gz
dist/*.css.br
dist/*.svg.br
openssl/cert.key
openssl/cert.pem
packages/**/package-lock.json
packages/**/node_modules
packages/**/dist
.idea
.idea/inspectionProfiles/Project_Default.xml

# Claude Code local settings
.claude/settings.local.json
.claude/settings.local.json

# Render
render/*.png
scripting/meta.json
/art
dump.rdb
db/import.sql
