div.embed {
  background: yellow;
  padding: 0;
  margin: 0;
  height: 100%;

  .webheader {
    display: none;
  }

  .WebMap {
    margin-top: 0 !important;
  }
}

div.webmap {
  position: relative;
  width: 100%;
  height: 90vh;

  div.MapIslandCarousel {
    background: white;
    position: absolute;
    max-width: 65%;
    min-width: 65%;
    padding: 3px;
    left: 14%;
    top: 2px;
    z-index: 425;

    border-radius: 5px;
    box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.75);

    input[type='text'] {
      display: none;
      @media @desktop {
        display: inline;
        margin-left: 2px;
      }
    }

    .Carousel.islands-on-map-carousel {
      height: auto;
      min-height: auto;

      label {
        top: 20%;
        font-size: 20px;
        width: 22px;
        height: 22px;
      }

      .carousel-container {
        padding: 5px 30px;
      }
    }

    .islands-on-map-carousel-item {
      min-width: 100px;
      border-radius: 5px;
      cursor: pointer;
      padding: 2px;
      margin-right: 2px;

      &:hover {
        background: rgb(238, 238, 238);
        box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.75);
      }
    }
  }
}
