.WalletInfo {
  display: flex;

  div.info {
    display: flex;
    flex-direction: column;
    flex: 1;

    div.name {
      min-height: 2rem;
    }
  }

  /* send eth or erc20 button */

  div.wallet-actions {
    display: flex;

    a.sendButton {
      padding: 8px 8px;

      i {
        padding: 0;
      }
    }
  }
}
