@chathintleft: 0px;
@ChathintTop: -50px;
@ChatHintFadeTime: 0.5s;
@ChatHintVisible: 2.8s;

div.ChatHintNotification {
  position: absolute;
  top: @ChathintTop;
  z-index: 10100;
  font-size: small;
  background: #6d4f78;
  padding: 10px;
  width: 60px;
  left: @chathintleft;
  border-radius: 5%;
  height: 1em;

  visibility: hidden;

  &.-show {
    visibility: visible;
    animation:
      chatHintFadein @ChatHintFadeTime,
      chatHintFadeout @ChatHintFadeTime @ChatHintVisible;
  }

  &:before {
    content: '';
    width: 0;
    height: 0;
    max-height: 0;
    position: absolute;
    border-top: 10px solid #6d4f78;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    left: 20px;
    bottom: -10px;
  }

  .text-container {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: normal;
  }
}

@keyframes chatHintFadein {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    bottom: @ChathintTop;
    opacity: 1;
  }
}

@keyframes chatHintFadeout {
  from {
    top: @ChathintTop;
    opacity: 1;
  }

  to {
    top: 0;
    opacity: 0;
  }
}
