.SendERC20Window {
  p {
    margin-top: 0;
  }

  form {
    div.currency-selection {
      display: flex;

      > * {
        padding: 0 1px;
      }
    }

    input[type='text'] {
      width: 100%;
    }
  }
}
