div.Carousel {
  min-height: 100px;
  overflow: hidden;
  position: relative;

  label {
    z-index: 1;
    position: absolute;
    font-size: 12px;
    top: 30%;
    border: 1px solid #aaa;
    color: #aaa;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    background-color: #eee;
    -webkit-transition: opacity 0.7s 0.4s;
    transition: opacity 0.7s 0.4s;

    &:hover {
      background-color: rgb(76, 5, 106);
      color: #fff;
      border: 1px solid #000;
    }
  }

  label:nth-child(3) {
    right: 0;
  }

  div.carousel-container {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    height: fit-content;
    margin-right: 28px;
    margin-left: 28px;
  }

  div.carousel-container::-webkit-scrollbar {
    display: none;
  }
}
