.CollectibleSelector {
  cursor: pointer;
  min-height: 52px;
  position: relative;

  ul {
    border: 1px solid #ccc;
    position: absolute;
    background: #f7f7f7;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    min-height: 32px;
    max-height: 32px * 9.5;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 0 16px 0;
    padding: 0;
    z-index: 1;
  }

  .select {
    padding: 8px;
    font-size: small;
    color: #aaa;
  }

  li {
    list-style: none;
    clear: both;
    height: 2rem !important;
    overflow: hidden;
    margin: 0;
    padding: 4px;

    img {
      width: 32px;
      float: left;
      margin-right: 4px;
    }

    > div {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: pre;
    }

    small {
      display: block;
      text-overflow: ellipsis;
      color: #333;
      white-space: nowrap;
      height: 1rem;
      overflow: hidden;
    }

    &:hover {
      background: #b9b9b9;
    }
  }

  li:first-of-type {
    background: #fdfdfd;
    padding: 0;

    > input[type='text'] {
      height: 100%;
      width: 100%;
      background: none;
      border: none;
      color: black;

      &:focus-visible,
      :focus,
      :focus-within {
        border: none;
        outline: none;
      }
    }
  }

  &.closed {
    li {
      display: none;
    }

    li.selected {
      display: block;
      // color: #999;
      line-height: 32px;
      padding-left: 16px;
    }
  }
}
