// Gizmos
@gizmo_size: 32px;

.costumer-page {
  // ...

  aside {
    width: 25vw !important;
  }

  figure {
    position: relative;
  }

  #gizmos {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  a.pending {
    opacity: 0.5;
  }

  .editor-field {
    margin: 0.25rem 0;

    .fields {
      background: #f3f3f3;
      border-radius: 2px;
      padding: 0.2rem;
      display: flex;
      flex-direction: row;
      gap: 0.2rem;

      input {
        flex: 1;
        padding: 0.2rem;
        width: 0;
      }
    }

    &.scale {
      input {
        width: 22%;
      }
    }
  }

  .action {
    text-align: right;
    padding-top: 0.25rem;
  }

  .bones {
    display: flex;
    justify-content: space-between;

    label {
      flex: 1;
    }

    select {
      flex: 1;
    }
  }

  ul.skin-list {
    li {
      padding: 2px 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;

      &.everything {
        input {
          margin-left: 1.2rem;
        }
      }
    }

    input[type='checkbox'] {
      width: 0.75rem;
      height: 0.75rem;
      margin-right: 2px;
    }

    input[type='color'] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: transparent;
      border: 0;
      cursor: pointer;

      width: 1rem;
      height: 1rem;
      margin: 0 1px;
      padding: 0;

      &::-webkit-color-swatch {
        padding: 0;
        margin: 0;
      }

      &::-moz-color-swatch {
        padding: 0;
        margin: 0;
      }
    }

    label {
      cursor: pointer;
    }
  }

  .wearables {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    div.attachment {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;

      cite {
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        border: 1px solid #ccc;
        font-size: 0.8rem;
        overflow: hidden;
        background: #f3f3f3;
        color: #666;
      }

      p {
        margin: 0;
      }
    }
  }

  // wearable grid

  .wearable-selector {
    max-width: 30vw;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      li > div {
        width: 4rem;
        height: 4rem;
      }

      li > img {
        width: 4rem;
        height: 4rem;
        object-fit: cover;

        transform: scale(1.5);
      }

      span {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 4rem;
        font-size: 0.8rem;
      }
    }
  }
}
