.marketplace {
  small {
    color: var(--small);
  }

  fieldset .island {
    .floor {
      font-size: smaller;
      float: right;

      small {
        padding-left: 0.1rem;
      }
    }
  }

  .transfer-history {
    .avatar-image {
      position: absolute;
      left: -1.5rem;
      top: -0.3rem;
    }

    li {
      margin-bottom: 0.3rem;
      position: relative;
    }

    li.type-sale {
      font-weight: bold;
    }

    li.same-recipient {
      display: none;
    }

    small {
      padding-left: 0.4rem;
    }
  }

  .sort {
    text-align: right;
    margin-top: -1rem;
    padding-bottom: 0.5rem;

    select {
      margin-left: 1rem;
    }
  }

  .columns {
    display: flex;
    flex-direction: row;

    label.seller {
      // text-transform: uppercase;
    }

    label.seller-crvox-eth {
      font-weight: bold;
    }

    & > form {
      width: 200px;

      fieldset {
        border: none;
        border-top: 1px solid #777;
        border-bottom: 1px solid #777;
        margin-bottom: 10px;

        label {
          display: block;
        }
      }
    }

    & > div {
      flex: 1;
    }
  }
}

.parcel-listing {
  position: relative;

  .avatar-image {
    position: absolute;
    bottom: 4.8rem;
    right: 0.6rem;
  }

  p,
  h3 {
    margin: 0;
  }

  .address {
    font-weight: bold;
    max-width: 128px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text);
  }

  img {
    aspect-ratio: 1;
    background: #7cf;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--red);
    width: 100%;
  }

  .price {
    flex: 1;
  }

  .name {
    position: absolute;
    top: 16px;
    left: 8px;
    padding: 0 6px;
    color: #555;

    border-radius: 10px;
    max-width: 128px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.primary {
    .name {
      background-color: gold;
    }

    &.card {
      a.button {
        background-color: gold;
        color: black;
      }
    }
  }

  a.button {
    background: var(--red);

    border-radius: 4px;
    padding: 4px 8px;
  }

  a.button:hover {
    background: #ccc;
  }

  .owner {
    display: none;
  }
}

.MarketPlaceNavigation {
  border-bottom: 2px solid #bfbfbf;
}

.MarketPlace-Parcels {
  .ParcelsSortTools {
    display: flex;
    justify-content: space-between;

    margin: 0;
    flex-wrap: wrap-reverse;
    padding: 0;

    @media @desktop {
      margin: 0 10% 0 0;
    }

    > div {
      margin: auto 0;
    }

    input[type='text'] {
      height: 30px;
    }
  }

  table.for-sale {
    width: 100%;

    td.id {
      position: relative;
    }

    /* MAKE TABLE LOOK GOOOD ON MOBILE */
    @media @mobile {
      border: 0;

      caption {
        font-size: 1.3em;
      }

      thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 0.625em;
      }

      tr:first-of-type {
        display: none;
      }

      td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 0.8em;
        text-align: right;
      }

      td:nth-of-type(2) {
        text-align: center;

        img {
          width: 120px;
        }
      }

      td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }

      td:last-child {
        border-bottom: 0;
      }
    }
  }

  div.IsPrimarySale-icon {
    background-color: rgb(255, 208, 0);
    color: rgb(41, 41, 41);
    position: absolute;
    top: -5px;
    padding: 3px;
    left: -5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.IsSecondarySale-icon {
    background-color: rgb(87, 218, 75);
    color: rgb(41, 41, 41);
    position: absolute;
    top: -5px;
    padding: 3px;
    left: -5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
