ul.PersonaMenu {
  list-style: none;
  margin: -6px -15px;
  font-size: 14px;
  padding: 0;

  li {
    padding: 6px 20px;
    cursor: pointer;

    > span.unreadCount {
      background: #ff7979;
      padding: 0.3em 0.5em;
      border-radius: 12px;
      font-size: 82%;
    }

    header {
      font-weight: bold;
    }
  }
}
