.WebSearch {
  position: relative;

  input {
    font-size: inherit;
  }

  &:focus-within {
    ul {
      display: block;
    }
  }

  ul {
    display: none;
    font-size: 10pt;
    border: 1px solid #ccc;
    position: absolute;

    left: 0;
    right: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    min-height: 32px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 5px 0 16px;
    padding: 0;
    z-index: 2;
  }

  li {
    cursor: pointer;
    list-style: none;
    clear: both;
    height: 32px !important;
    overflow: hidden;
    margin: 0;
    padding: 4px;

    > div {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: pre;
    }

    small {
      display: block;
      text-overflow: ellipsis;
      color: #aaa;
      white-space: nowrap;
      height: 1em;
      max-width: 320px;
      overflow: hidden;
    }
  }
}
