.WebSortingOptions {
  border: none;
  color: #444 !important;
  background: #eee;
  padding: 10px;
  border-radius: 2rem;
  display: inline-block;
  margin-bottom: 10px;

  a {
    cursor: pointer;
    color: #444;
    text-decoration: none;
    margin: 0 5px;

    &:hover {
      color: rgb(243, 243, 243);
      text-decoration: underline;
    }
  }

  .active {
    color: #55258c;
    font-weight: bold;
    text-decoration: none;
  }

  .active:hover {
    color: #444;
    background: none;
  }

  .active.ascending::before {
    content: '↑';
  }

  .active.descending::before {
    content: '↓';
  }
}
