DO_SPACE_REGION="sfo3"
DO_SPACE_NAME="your-bucket-name"
DO_SPACE_KEY="your-access-key"
DO_SPACE_SECRET="your-secret-key"
DO_SPACE_ENDPOINT="https://sfo3.digitaloceanspaces.com"
DO_CDN_HOST="https://your-bucket-name.sfo3.digitaloceanspaces.com"